<div class="form-body">
  <div class="sign-up">
    <p>
      Sign-up
    </p>
  
    <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
      <div class="card">
      <div class="menu-item">
        <label for="name">Name </label>
        <input type="text" [ngClass]="signupForm.get('name')?.invalid && signupForm.get('name')?.touched?'alert':''" id="name" class="input-field" formControlName="name" required>
      </div>
      <div class="menu-item">
        <label for="email">Email </label>
        <input type="email" id="email" [ngClass]="signupForm.get('email')?.invalid && signupForm.get('email')?.touched?'alert':''" class="input-field" formControlName="email" required>
      </div>
      <div class="menu-item">
          <label for="mobile">Mobile </label>
          <input class="input-field" [ngClass]="signupForm.get('mobile')?.invalid && signupForm.get('mobile')?.touched?'alert':''" type="number" id="mobile" formControlName="mobile" required>
        </div>
      <div class="menu-item">
        <label for="password">Password </label>
        <input class="input-field" [ngClass]="signupForm.get('password')?.invalid && signupForm.get('password')?.touched?'alert':''" type="password" id="password" formControlName="password" required>
      </div>
      <div class="menu-item"> 
          <label for="confirmpass">Confirm Password </label>
          <input type="password" class ="input-field" id="confirmpass" formControlName="confirmpass" [ngClass]="signupForm.get('confirmpass')?.invalid && signupForm.get('confirmpass')?.touched?'alert':''" required>
      </div>        
      <button type="submit" class="btn" [disabled]="signupForm.invalid">Sign Up</button>
      <div class="switch" routerLink="login">Switch to Login</div>
    </div>
    </form>
</div>
</div>
